.popupContainer {
    background-color: #ffffff;
    border-radius: 12px; /* Slightly increased for a softer look */
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.15); /* Deeper shadow for more depth */
    padding: 30px; /* Increased padding for a more spacious feel */
    width: min(400px, calc(100vw - 28px));
    max-width: 400px;
    margin: auto;
    position: fixed; /* Ensures it overlays other content */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust position */
    z-index: 1000; /* Ensure it appears above other elements */
    overflow: hidden; /* Prevent overflow */
    border: 1px solid #2A4D9B; /* Add border matching title color */
}

.title {
    color: #2A4D9B;
    font-size: 24px; /* Larger title for emphasis */
    margin-bottom: 20px;
    text-align: center; /* Center align for better aesthetics */
}

.form {
    display: flex;
    flex-direction: column;
}

.form .form-group {
    margin-bottom: 15px; /* Space between form groups */
}

.cancelButton {
    border-radius:12px ;
    margin-top: 15px;
    background-color:#e34a0e; /* Light background for contrast */
    border: 1px solid #2A4D9B; /* Match the theme */
    color: #ffffff; /* Text color */
    transition: background-color 0.3s; /* Smooth transition */
}

.cancelButton:hover {
    background-color: #e2e6ea; /* Darker shade on hover */
}

button {
    background-color: #F68C26;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for buttons */
    border-radius:12px ;
}

button:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 5px rgba(42, 77, 155, 0.5); /* Custom focus effect */
}