PORT=8080
CONVERTER_BASE_URL=https://acadex-converter.onrender.com
CONVERTER_SECRET=TheBillions11
AWS_ACCESS_KEY_ID=AKItyhhyhywrongkey
AWS_SECRET_ACCESS_KEY=3AKItyhhyhywrongkey
AWS_BUCKET_NAME=hnAKItyhhyhywrongkey
AWS_S3_URL=AKItyhhyhywrongkey
AWS_REGION=AKItyhhyhywrongkey